@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color primary_container {{colors.primary_container.default.hex}};
@define-color on_primary_container {{colors.on_primary_container.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color on_secondary {{colors.on_secondary.default.hex}};
@define-color secondary_container {{colors.secondary_container.default.hex}};
@define-color on_secondary_container {{colors.on_secondary_container.default.hex}};
@define-color tertiary {{colors.tertiary.default.hex}};
@define-color on_tertiary {{colors.on_tertiary.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};
@define-color error {{colors.error.default.hex}};
@define-color on_error {{colors.on_error.default.hex}};
