@define-color primary #83d2e3;
@define-color on_primary #00363e;
@define-color primary_container #004e5a;
@define-color on_primary_container #a1efff;
@define-color secondary #b1cbd1;
@define-color on_secondary #1c3439;
@define-color secondary_container #334a50;
@define-color on_secondary_container #cde7ed;
@define-color tertiary #bcc5eb;
@define-color on_tertiary #262f4d;
@define-color surface #0e1416;
@define-color on_surface #dee3e5;
@define-color error #ffb4ab;
@define-color on_error #690005;
