@define-color primary #bfce7f;
@define-color on_primary #2b3400;
@define-color primary_container #404c09;
@define-color on_primary_container #dbea98;
@define-color secondary #c5c9a8;
@define-color on_secondary #2e331b;
@define-color secondary_container #444930;
@define-color on_secondary_container #e1e6c3;
@define-color tertiary #a1d0c4;
@define-color on_tertiary #04372f;
@define-color surface #13140d;
@define-color on_surface #e4e3d7;
@define-color error #ffb4ab;
@define-color on_error #690005;
